.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  outline: 0;
  border: 0;
  border-radius: 24px;

  font-family: var(--font-family-main);
}

.btn.btn--primary {
  background-color: var(--btn-color);
  color: white;
}

.btn .btn__icon {
  display: inline-block;
  font-size: 28px;
  font-weight: 300;
  line-height: 16px;
}

.btn .btn__text {
  display: inline-block;
  margin-left: 12px;
  padding-right: 4px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}
