body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-main);
  color: var(--primary-color);
  background-color: var(--main-bg-color);
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 12px 48px 0 rgba(96, 101, 123, 0.24);
  background-color: white;
}
.header {
  padding: var(--base-space);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: var(--primary-color);
}

.header h1 {
  text-align: center;
  font-size: 32px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

@media (min-width: 400px) {
  .container {
    width: 360px;
    height: 640px;
    background-color: white;
  }
}
