.task-add {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--base-space);

  &__input {
    width: 100%;
    padding: 8px 8px;
    margin-bottom: var(--base-space);
    border: solid 1px var(--secondary-color);

    &::placeholder {
      color: var(--input-placeholder-color);
    }
  }
}
