.add-task {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--base-space);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.add-task input {
  width: 100%;
  font-size: 15px;
  padding: 8px 8px;
  margin-bottom: var(--base-space);
  border: solid 1px var(--secondary-color);
}

.add-task input::placeholder {
  color: var(--placeholder-color);
}
